$step-color: #00752f;
$line-color: #01BB4C;
$timeline-text-color: white;
$background-color: #005120;

.placement-guarantee {
  background-color: $background-color;
  color: $timeline-text-color;
  padding: 40px 20px;
  text-align: center;
  margin-top: 100px;

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 2.6em;
    margin: 30px 0;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1.1em;
    margin-bottom: 30px;
    width: 80%;
  }

  &__content {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 20px; // Added padding to avoid overlap with the line
  }

  &__wrapper-left,
  &__wrapper-right {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  &__line{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 100%;
    background-color: $line-color;
    z-index: 1;
    border-radius: 10px;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__line-circle {
    height: 50px;
    width: 50px;
    background-color: $line-color;
    border-radius: 50%;
    margin-left: -15px;
    margin-bottom: 100%;
  }

  &__item {
    display: flex;
    margin: 20px 0;
    position: relative;
    width: 100%;
    gap: 20px;

    .placement-guarantee__step {
      background-color: $step-color;
      color: $timeline-text-color;
      border-radius: 50%;
      font-weight: bold;
      position: relative;
      z-index: 1;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 900px) {
        height: 50px;
        width: 50px;
        font-size: 12px;
      }
    }

    .placement-guarantee__content {
      background-color: $step-color;
      color: $timeline-text-color;
      padding: 20px;
      border-radius: 8px;
      position: relative;
      z-index: 0;
      width: calc(100% - 120px);
      max-width: 400px;
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0 0 20px;
        font-size: 1.3rem;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 1.1rem;
        text-align: left;
      }
    }

    &.placement-guarantee__item-left {
      justify-content: flex-end;
      margin-bottom: 200px;
      @media screen and (max-width: 900px) {
        margin-bottom: 0;
        justify-content: flex-start;
      }

      .placement-guarantee__content {
        align-items: flex-start;
      }
    }

    &.placement-guarantee__item-right {
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-top: 200px;
      
      @media screen and (max-width: 900px) {
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 20px;
      }

      .placement-guarantee__content {
        align-items: flex-start;
        text-align: left;
      }
    }
  }
}